body {
    background: black;
}

div {
  position: fixed; /* or absolute */
  top: 20%;
  left: 20%;
}

h1 {
    font-family: sans-serif;
    color: greenyellow;
}

table {
    color: greenyellow;
    margin-bottom: 20px;
}

table tr td:nth-child(2) {
    padding-left: 30px;
}

table tr {
    height: 40px;
}

input[type=text], input[type=password] {
    color: greenyellow;
    background: black;
    border: 1px dashed greenyellow
}

input[type=submit], input[type=reset]{
    color: greenyellow;
    background: black;
    border: 1px solid greenyellow
}

select {
    color: greenyellow;
    background: black;
    border: 1px dashed greenyellow
}


input[type="radio"] {
    color: greenyellow;
}

