<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">




    <!-- Zdefiniuj bean Person -->
    <bean id="person" class="altkom.model.Person"/>
    <!-- Skonfiguruj obslugę adnotacji -->
    <context:annotation-config/>
    <context:component-scan base-package="altkom.model"/>
    
    <bean id="dom" class="altkom.model.Dom">
        <property name="ulica" value="Malachowskiego" />
        <property name="kolor" value="Rozowy" />
    </bean>
    
    <bean id="mieszkanie" class="altkom.model.Mieszkanie">
        <property name="wielkosc" value="33m&#178;"/>
        <property name="pokoj">    
            <bean class="altkom.model.Pokoj">
                <property name="kolor" value="majtkowy roz"/> 
            </bean>
        </property>
        
    </bean>

    
    <bean id="komputer" class="altkom.model.Komputer">
        <constructor-arg>
            <value>Asus</value>
        </constructor-arg>   
        <constructor-arg>
            <value>Zielony</value>
        </constructor-arg>  
    </bean>
    
<!--    <bean id="okno" class="altkom.model.Okno">
        <property name="obwod" value="2m"/> 
    </bean>
    
    <bean id="szyba" class="altkom.model.Szyba">
        <property name="waga" value="3kg"/> 
    </bean>-->
    
    <bean id="okno" class="altkom.model.Okno">
        <constructor-arg>
            <value>2m</value>
        </constructor-arg>     
    </bean>
    
    <bean id="szyba" class="altkom.model.Szyba">
        <constructor-arg>
            <value>3kg</value>
        </constructor-arg> 
    </bean>
    
    <bean id="sciana" class="altkom.model.Sciana">
        <constructor-arg>
            <value>5m</value>
        </constructor-arg>     
    </bean>
    
    
</beans>