/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-08-28, 15:54:01
    Author     : kursant5
*/
.extraLarge {
    font-size: 29px
}

img {
    width: 50px;
    height: 50px
}