html {
    height: 100%;
}

body {
    margin: 0;
    padding: 2px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#container {
    position: relative;
    height: 100%;
    margin: auto;    
}

#preview {
    position: absolute;
    border: 4px solid white;
    opacity: 0;
    //        opacity przyjmuje wartosci 0-1
}

#thumbnails {
    height: 20%;
    /*%rodzica; tu: containera*/
}

#thumbnails img {
    float: left;
    border: 2px solid white;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
}
